.radar-container {
  h4 {
    position: absolute;
    color: #909598;

    &.processo {
      top: 2%;
      left: 3%;
    }

    &.negocio {
      top: 2%;
      right: 5%;
    }

    &.qualidade {
      bottom: 1%;
      right: 5%;
    }

    &.slas {
      bottom: 1%;
      left: 3%;
    }
  }

  .radar {
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 500px) {
  .radar {
    max-width: 270px;
  }
}

@media (max-width: 300px) {
  .radar {
    max-width: 200px;
  }
}

.title {
  padding: 20px 0 0 20px;
}

mat-tab-group {
  padding: 0 10px 10px;
}
