.mat-header-cell {
  border-bottom: none;
  border-top: none;
  background-color: #13191f;
}

.mat-column-description {
  flex: 0 0 50%;
}

.col-concluido {
  color: rgb(0, 176, 80) !important;
}

.col-desenvolvimento {
  color: rgb(255, 192, 0) !important;
}

.col-desenvolvimento-concluido {
  color: rgb(169, 209, 142) !important;
}

.col-homologacao {
  color: rgb(169, 209, 142) !important;
}

.col-homologado {
  color:rgb(0, 190, 240) !important;
}

.col-remanescente {
  color: rgb(166, 166, 166) !important;
}
