.counter-box {
  min-height: 80px;
  margin: 0px 0px 10px 0px;
  padding: 8px 0 5px 0;
  color: #cfd7e4;
}

.chart-execution {
  height: 50px;
}

.sl-primary {
  ::before {
    background-color: #186db1;
  }

  :last-child::after {
    background-color: #186db1;
  }
}

.evolution {
  height: 315px;
  margin-bottom: 40px;

  .body {
    height: 100%;

    .table-responsive {
      height: 85%;
    }
  }
}

table {
  tr td:first-child {
    width: 1%;
    white-space: nowrap;
  }

  thead th {
    position: sticky;
    top: 0;
  }
}

.demands .body {
  overflow: auto;

  .chart-squad {
    min-width: 650px;
    height: 345px;
  }
}
