.counter-box {
  min-height: 80px;
  margin: 0px 0px 10px 0px;
  padding: 8px 0 5px 0;
  color: #cfd7e4;
}

.chart-squad {
  height: 320px;
}

.chart-execution {
  height: 50px;
}

.radar-container {
  align-items: center;

  .radar {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .radar {
    max-width: 270px;
  }
}

@media (max-width: 300px) {
  .radar {
    max-width: 200px;
  }
}

.sl-primary {
  ::before {
    background-color: #186db1;
  }

  :last-child::after {
    background-color: #186db1;
  }
}

.evolution {
  height: 78%;
}

::ng-deep .mat-form-field-flex {
  padding: 0.2em 0.75em 0.6em 0.75em !important;

  .mat-select-arrow-wrapper {
    padding-top: 10px;
  }
}
