.counter-box {
    width: 215px;
    min-height: 80px;
    margin: 0px 0px 10px 0px;
    padding: 8px 0 5px 0;
    color: #cfd7e4;
}

.widgets {
   margin-right: 20px; 
   padding-left: 0px;
}

.card {
    box-shadow: none;

    .radar {
        height: 500px;
    }
}

#cross {
    div {
        position: absolute;
        background: black;
        z-index: 10;
    }

    #cross-vertical {   
        left: 49.8%;
        height: 90%;
        width: 4px;
        top: 5%;
    }
    
    #cross-horizontal {   
        top: 49.8%;
        left: 24%;
        width: 52%;
        height: 3px;
    }
}