<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="widgets col-xl-2 col-lg-2 col-md-12 col-sm-12">
        <div class="col-lg-3 col-sm-6">
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Demandas Total</div>
            <h3 class="m-b-10">2342 </h3>
          </div>
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Em Backlog</div>
            <h3 class="m-b-10">324 </h3>
          </div>
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Em Desenvolvimento </div>
            <h3 class="m-b-10">511
            </h3>
          </div>
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Desenv. concluído </div>
            <h3 class="m-b-10">135
            </h3>
          </div>
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Em Homologação </div>
            <h3 class="m-b-10">78
            </h3>
          </div>
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Homologado </div>
            <h3 class="m-b-10">258
            </h3>
          </div>
          <div class="counter-box text-center">
            <div class="text font-15 m-b-5">Concluídas no Período </div>
            <h3 class="m-b-10">1231
            </h3>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        <div class="card">
          <div class="header text-center">
            <h2>Demandas X Squad</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <div class="card">
              <div echarts (chartClick)="onChartEvent($event, 'chartClick')" [options]="options"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Earning</strong> Source</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <div class="tab-pane body" id="skills">
              <ul class="list-unstyled">
                <li>
                  <div class="mb-2">
                    <span class="progress-label">envato.com</span>
                    <span class="pull-right progress-percent label label-info m-b-5">17%</span>
                  </div>
                  <div class="progress skill-progress m-b-20 w-100">
                    <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="mb-2">
                    <span class="progress-label">google.com</span>
                    <span class="pull-right progress-percent label label-danger m-b-5">27%</span>
                  </div>
                  <div class="progress skill-progress m-b-20 w-100">
                    <div class="progress-bar l-bg-purple width-per-27" role="progressbar" aria-valuenow="27"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="mb-2">
                    <span class="progress-label">yahoo.com</span>
                    <span class="pull-right progress-percent label label-primary m-b-5">25%</span>
                  </div>
                  <div class="progress skill-progress m-b-20 w-100">
                    <div class="progress-bar l-bg-orange width-per-25" role="progressbar" aria-valuenow="25"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="mb-2">
                    <span class="progress-label">store</span>
                    <span class="pull-right progress-percent label label-success m-b-5">18%</span>
                  </div>
                  <div class="progress skill-progress m-b-20 w-100">
                    <div class="progress-bar l-bg-cyan width-per-18" role="progressbar" aria-valuenow="18"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div class="mb-2">
                    <span class="progress-label">Others</span>
                    <span class="pull-right progress-percent label label-warning m-b-5">13%</span>
                  </div>
                  <div class="progress skill-progress m-b-20 w-100">
                    <div class="progress-bar l-bg-red width-per-13" role="progressbar" aria-valuenow="13"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>